
/*Global CSS*/

body {
	/*transistion: all 2sec ease-in-out;*/
}


/*Navbar CSS*/
.navbar {
	width: 100vw;
	height: 75px;
	background-color: #000;
	position: fixed;
	bottom: 0;
}

.navbar-part {

	text-align: center;
	/*margin: 0 auto;*/
	/*padding: 5px;*/
	/*width: 33vw;*/
	height: 75px;
	display: inline-block;
	background-color: #fff;
}
/*.navbar-counter {
	width:30vw;
}*/

.navbar-hidden {
	width: 100vw;
	height: auto;
	min-height: 100px;
	display: inline-block;
	background-color: #eee;

}

.navbar-button {
	text-align: right;
	display: inline-block;
	font-size: 24pt;
	position: relative;
	cursor: pointer;	
}


#menu {
    width: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
    fill: #1A8AEC;
}



.hidden {
	bottom: 0;
}

.visible {
	/*bottom: 175px;*/
}



/*Book CSS*/
.book {
	display: none;
}

.book-view {
	width: 100vw;
	/*height: 100vh;*/
	background-color: gray;
}
#book-img {
	margin: 0 15%;
	width: 70%

}

